{% extends 'homepage/app_layout.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Class Rater Reviews</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">
</head>
<body>
<div class="page-container">
    <h2>Reviews Page</h2>
    <div class="num-review-title">{{reviews.count}} reviews available</div>
    <div style="margin-top:30px">
        <div class="reviews-container">
            {% for review in reviews %}
            {% if review in liked_reviews %}
            {% include './single_review.html' with review=review is_liked=True %}
            {% else %}
            {% include './single_review.html' with review=review is_liked=False %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}
