{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/single_review.css' %}">
</head>
<body>
<div class="review-box">
    <div class="title-row">
        <h4>{{review.user}}</h4>
        <h6>{{review.date}}</h6>
    </div>
    <div>
        About Course: {{review.course.name}}
    </div>
    <div style="margin-top: 20px">
        {% for i in " "|rjust:review.rate|make_list %}
        <img src="{% static 'icons/star.png' %}">
        {% endfor %}
    </div>
    <p style="margin-top: 20px">
        {{review.content}}
    <div class="extra-details">
        <div class="extra-detail">
            {% if review.professor %}
            <label class="detail-label">Taught by: </label>{{review.professor}}
            {% endif %}
        </div>
        <div class="extra-detail course-load">
            <label class="detail-label">Course load: </label>
            {% if review.course_load == 5 %}
            <img class="load-emoji" src="{% static 'icons/crying.png' %}">
            {% elif review.course_load == 4 %}
            <img class="load-emoji" src="{% static 'icons/sad.png' %}">
            {% elif review.course_load == 3 %}
            <img class="load-emoji" src="{% static 'icons/neutral.png' %}">
            {% elif review.course_load == 2 %}
            <img class="load-emoji" src="{% static 'icons/smile.png' %}">
            {% else %}
            <img class="load-emoji" src="{% static 'icons/smiling.png' %}">
            {% endif %}
        </div>
    </div>
    {% if is_liked %}
    <div class="row likes-row lit">
        <img onclick="location.href='{% url 'like_review' user.id review.id %}'" class="like-btn"
             src="{% static 'icons/thumb-up-lit.png' %}">
        {% if review.likes_num == 1 %}
        <div>You found this helpful</div>
        {% else %}
        <div>You and {{review.likes_num|add:"-1"}} other students found this helpful</div>
        {% endif %}
    </div>
    {% else %}
    <div class="row likes-row">
        {% if user.is_authenticated %}
        <img onclick="location.href='{% url 'like_review' user.id review.id %}'" class="like-btn"
             src="{% static 'icons/thumb-up.png' %}">
        {% else %}
        <img class="like-btn disabled" src="{% static 'icons/thumb-up.png' %}">
        {% endif %}
        <div>{{review.likes_num}} students found this helpful
        </div>
    </div>
    {% endif %}
    </p>
</div>
</body>
