{% extends 'homepage/app_layout.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ClassRater</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>

<body>
<div class="page-container">
    <div class="top-container">
        <div class="top-content">
            <img class="logo" src="{% static 'icons/small-logo.png' %}">
            <div class="top-title">
                <div>Welcome to ClassRater.</div>
            </div>
        </div>
    </div>
    <div class="bottom-container" style="margin-top:30px">
        <div class="reviews-container">
            {% for review in reviews %}
            {% include './single_preview.html' with review=review %}
            {% endfor %}
        </div>
        <div onclick="location.href='{% url 'reviews' %}'" class="more-reviews">
            More Reviews >>
        </div>
    </div>
</div>
{% endblock %}
</body>
