{% extends 'homepage/app_layout.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<html>
<head>
<title>Class Rater Add Review Search</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/add_review_search.css' %}">
</head>

<body>
<div class="page-container">
        <h1>Search Results</h1>
        {% if courses %}
        <div style="margin-top:20px">
        <h4>Click on Course to start a review!</h4>
            <div class="results-container">
                {% for course in courses %}
                <div class="result-box" id="clickable" onclick="location.href='{% url 'add_review' course.course_id %}'"> 
                    <a>{{ course }}</a></br>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div style="margin-top:20px">
            <h4>oops! we couldn't find that one "{{ course_name }}"</h4>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
</body>
