.page-container {
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #E4E4E4;
}

.reviews-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footer {
	opacity: 0;
}
