.page-container {
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.reviews-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
