.review-box {
	background-color: white;
	border: black solid 1px;
	margin: 0 50px 50px;
	padding: 20px;
	text-align: left;
	width: 600px;
	box-shadow: 3px 3px 3px #888888;
}

.extra-details {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.likes-row {
	font-size: 12px;
	margin-top: 10px;
}

.like-btn {
	margin-left: 10px;
	margin-right: 10px;
}

.title-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 5px;
}

.detail-label {
	font-weight: bold;
	margin-right: 5px;
}

.load-emoji {
	width: 22px;
	height: 22px;
}

.num-review-title {
	margin: 20px;
	font-size: 20px;
}
