{% extends 'homepage/app_layout.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Class Rater Courses</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
</head>
<body>
<div class="page-container">
    <div class="details-container">
        <div class="details">
            <div class="course-title-row">
                <div class="course-title">
                    {{course.name}}
                </div>
                <div class="is-mandatory-label">
                    {% if course.mandatory %}
                    <label>mandatory</label>
                    {% else %}
                    <label>non-mandatory</label>
                    {% endif %}
                </div>
            </div>
            <div class="details-row">
                <label class="course-id">{{course.course_id}}</label>
                <div class="credit-container">
                    <label>Credit Points:</label>
                    <div class="credit-points">
                        <label>{{course.credit_points}}</label>
                    </div>
                </div>
            </div>
            <div class="details-row">
                <div>
                    <img src="{% static 'icons/star.png' %}">
                    <label class="avg-rating">{{course.avg_rating|floatformat}}</label>
                    <label class="raters">({{course.num_of_raters}} Raters)</label>
                </div>
                <div class="course-load-container">
                    <label>Course load:</label>
                    <div class="course-load">
                        {% if course.avg_load > 4 %}
                        <img class="load-emoji" src="{% static 'icons/crying.png' %}">
                        {% elif course.avg_load > 3.5 %}
                        <img class="load-emoji" src="{% static 'icons/sad.png' %}">
                        {% elif course.avg_load > 2.5 %}
                        <img class="load-emoji" src="{% static 'icons/neutral.png' %}">
                        {% elif course.avg_load >= 2 %}
                        <img class="load-emoji" src="{% static 'icons/smile.png' %}">
                        {% else %}
                        <img class="load-emoji" src="{% static 'icons/smiling.png' %}">
                        {% endif %}
                        <label>{{course.avg_load|floatformat}}/5</label>
                    </div>
                </div>
            </div>
            <div class="preq-rows">
                {% for preq in preq %}
                <div class="preq-row">
                    {% if preq.req_code == -1 %}
                    - Cannot be taken if 
                    <a href="{% url 'course' preq.req_course_id.course_id %}">{{preq.req_course_id.name}}</a>
                     was taken -
                    {% else %}
                    - Has to be taken 
                    {% if preq.req_code == 1 %}
                    after
                    {% elif preq.req_code == 0 %}
                    with
                    {% endif %}
                    <a href="{% url 'course' preq.req_course_id.course_id %}">{{preq.req_course_id.name}}</a> -
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="buttons-row">
                <button class="course-btn" onclick="location.href='{% url 'add_review' course.course_id %}'">Add Review</button>
                {% if is_following %}
                <button class="course-btn" onclick="location.href='{% url 'follow_course_action' course.course_id %}'">Unfollow Course</button>
                {% else %}
                <button class="course-btn" onclick="location.href='{% url 'follow_course_action' course.course_id %}'">Follow Course</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="num-review-title">{{reviews.count}} reviews available</div>
        <div class="reviews-container">
            {% for review in reviews %}
            {% if review in liked_reviews %}
            {% include '../reviews/single_review.html' with review=review is_liked=True %}
            {% else %}
            {% include '../reviews/single_review.html' with review=review is_liked=False %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
</body>
